.card-viagem {
    max-width: 22rem;  
    min-width: 19rem;
    background: #fff;
    border: 0.5px solid #1639a357;
    border-radius: 5px;
    box-shadow: 8px 4px 10px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.card-header-viagem {
    color: #191919;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: .5rem;
}

.card-title-viagem {
    padding: 0.5rem 0 0 0; 
}

.lista-despesas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    /*max-height: 800px;*/
    align-items: center;
}

.container {
    max-width: 1200px; /* Largura máxima personalizada */
    margin: 0 auto; /* Centraliza o container na página */
    padding: 20px; /* Espaçamento interno personalizado */
    margin-left: 2rem;
}
.row {
    justify-content: space-evenly;
}

.categoria {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categoria-titulo {
    font-weight: bold;
}

.despesa {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.despesa-box-shadow {
    box-shadow: 8px 4px 10px 5px rgba(0, 0, 0, 0.1);
}

.btn-edit-viagem {
    padding: 8px 9px 5px 10px;
    min-height: 30px;
    color: #000;
    position: relative;
    /*margin-left: 18rem;*/
    align-self:end;
    margin: 0.5rem 1rem -2.5rem 0;
}

    .btn-edit-viagem:hover {
        color: #fff;
        border: 2px solid #575757;
    }

.resumo-despesas {    
    border-radius: 20px;
}

.seta {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    margin-right: 5px;
}

.resumo-despesas-btn {    
    max-height: 20px;
}

.btn-iniciar-viagem {
    color: #fff;
    background-color: #0fa825;
    width: auto;
}

    .btn-iniciar-viagem:hover {
        background-color: #00de64;
        border-color: #064b08;
        color: #064b08;
    }