.card-viagem {
    border: 2px solid #a5a5a5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.card-header-viagem {
    background-color: #fff;
    color: #191919;
    border-radius: 10px;
    border: 2px solid #bdbdbd;
    display: flex;
    justify-content: center;
    padding-top: .5rem;
}

card-title-viagem {
    padding: 1rem 0 0 0; 
}

.container {
    max-width: 1200px; /* Largura máxima personalizada */
    margin: 0 auto; /* Centraliza o container na página */
    padding: 20px; /* Espaçamento interno personalizado */
    margin-left: 2rem;
}
.row {
    justify-content: space-evenly;
}

.categoria {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categoria-titulo {
    font-weight: bold;
}

.despesa {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}