.dropdown-item:hover {
    background-color: #5101d4;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #ffb400;
}

.btn-usuario {
    background-color: #fff;
    border: 2px solid #5101d4;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}