.btn-usuario {
    background-color: #fff;
    border: 2px solid #5101d4;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}
    .btn-usuario:hover {
        /*background-color: #5101d4;*/
        background: linear-gradient(to bottom, #294eff, #5100ad);
        border-radius: 10px;
        color: #fff;
        border: 2px solid #00efff;
    }