.show-menu {
    margin: 2.5rem 0 0 -5.5rem;
    /*padding-right: 2.5rem;
    display: block;*/
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.botao-usuario {
    margin-left: .5em;
}

.top-row a button {
    margin-left: 0;
}


.dropdown-item:hover {
    background-color: #5101d4;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #ffb400;
}

.username {
    background-color: #fff;
}
.username:active {
    background-color: #fff;
    color: #000;
}

.username:focus {
    outline: none;
}

.btn-usuario {
    background-color: #fff;
    border: 2px solid #5101d4;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none !important;
}