@inject IDespesasService<DespesaPassagemDTO> DespesaPassagemService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@implements IDisposable

<PageTitle>@AdicionarOuEditar - Despesa com Passagem</PageTitle>


<div class="modal-header">
    <h5 class="modal-title">@AdicionarOuEditar Despesa</h5>
    <button type="button" class="close" @onclick="FecharFormulario">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form @onsubmit="HandleDespesa">
        <div class="form-group row">
            <div class="col">
                <label for="NomeDespesa">Nome da Despesa</label>
                <input id="NomeDespesa" class="form-control" @bind="Despesa.NomeDespesa" />
            </div>
            <div class="col-auto">
                <label for="DataDespesa">Data da Despesa</label>
                <input id="DataDespesa" type="datetime-local" style="max-width:12rem" class="form-control" @bind="Despesa.DataDespesa" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="DescricaoDespesa">Descrição da Despesa</label>
                <textarea id="DescricaoDespesa" class="form-control" @bind="Despesa.DescricaoDespesa" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <label for="Companhia">Companhia</label>
                <input id="Companhia" class="form-control" @bind="Despesa.Companhia" />
            </div>
            <div class="col-auto">
                <label for="Preco">Passagem</label>
                <input id="Preco" class="form-control" type="number" min="0.00" max="10000.00" step="0.01" style="max-width:7rem" @bind="Despesa.Preco" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="Origem">Origem</label>
                <input id="Origem" class="form-control" @bind="Despesa.Origem" />
            </div>
            <div class="col">
                <label for="Destino">Destino</label>
                <input id="Destino" class="form-control" @bind="Despesa.Destino" />
            </div>
            <div class="col-auto">
                <label for="DataHoraEmbarque">Embarque</label>
                <input id="DataHoraEmbarque" class="form-control" type="datetime-local" style="max-width:12rem" @bind="Despesa.DataHoraEmbarque" />
            </div>
        </div>
        <div style="float:right;">
            <button type="button" class="btn btn-secondary mx-2" @onclick="FecharFormulario">
                <span>Cancelar</span>
            </button>
            <button type="submit" class="btn btn-primary">
                <span>@AdicionarOuEditar</span>
            </button>
        </div>
    </form>
</div>
@code {
    [Parameter]
    public int IdDespesa { get; set; }
    [Parameter]
    public int IdViagem { get; set; }
    private bool Adicionar = true;
    private string AdicionarOuEditar = "Adicionar";


    private DespesaPassagemDTO Despesa { get; set; } = new();

    [Parameter]
    public EventCallback FormularioFechado { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DespesaPassagemService.DespesasChanged += StateHasChanged;
        if (IdDespesa > 0)
        {
            Adicionar = false;
            await GetDespesaHospedagem();
        }

        if (!Adicionar) AdicionarOuEditar = "Editar";        
    }

    public void Dispose()
    {
        DespesaPassagemService.DespesasChanged -= StateHasChanged;
    }

    private async Task FecharFormulario()
    {
        await FormularioFechado.InvokeAsync();
    }

    private async Task GetDespesaHospedagem()
    {
        var response = await DespesaPassagemService.GetDespesa(IdDespesa);
        if (!response.IsSuccess)
            await JSRuntime.InvokeVoidAsync("alert", $"{response.Error}");

        Despesa = response.Value;

        //await EnderecoService.GetEndereco(Despesa.IdEndereco);
        //Endereco = EnderecoService.Endereco;
    }

    private async Task HandleDespesa()
    {
        try
        {
            Result<DespesaPassagemDTO> despesa = new();
            Despesa.IdViagem = IdViagem;

            if (Adicionar)
                despesa = await DespesaPassagemService.AdicionarDespesa(Despesa);
            else
                despesa = await DespesaPassagemService.AtualizarDespesa(Despesa);

            if (despesa.IsSuccess) await FecharFormulario();
            else await JSRuntime.InvokeVoidAsync("alert", despesa.Error);
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", ex.Message + "\n" + DespesaPassagemService.Mensagem);
        }
    }
}
