@inject IDespesasService<DespesaDeslocamentoDTO> DespesaDeslocamentoService
@inject IViagemService ViagemService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@implements IDisposable

<PageTitle>@AdicionarOuEditar - Despesa com Deslocamento</PageTitle>


<div class="modal-header">
    <h5 class="modal-title">@AdicionarOuEditar Despesa</h5>
    <button type="button" class="close" @onclick="FecharFormulario">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form @onsubmit="HandleDespesa">
        <div class="form-group row">
            <div class="col">
                <label for="NomeDespesa">Nome da Despesa</label>
                <input id="NomeDespesa" class="form-control" @bind="Despesa.NomeDespesa" />
            </div>
            <div class="col-auto">
                <label for="DataDespesa">Data da Despesa</label>
                <input id="DataDespesa" type="datetime-local" style="max-width:12rem" class="form-control" @bind="Despesa.DataDespesa" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="DescricaoDespesa">Descrição da Despesa</label>
                <textarea id="DescricaoDespesa" class="form-control" @bind="Despesa.DescricaoDespesa" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-auto">
                <label for="Placa">Placa</label>
                <input id="Placa" class="form-control" style="max-width:6rem" @bind="Despesa.Placa" />
            </div>
            <div class="col">
                <label for="Modelo">Modelo</label>
                <input id="Modelo" class="form-control" @bind="Despesa.Modelo" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-auto">
                <label for="Quilometragem">Distância (Km)</label>
                <input id="Quilometragem" class="form-control" style="max-width:5rem" @bind="Despesa.Quilometragem" />
            </div>
            <div class="col-auto">
                <label for="ValorPorQuilometro">Valor por Km</label>
                <input id="ValorPorQuilometro" class="form-control" type="number" min="0.00" max="10000.00" step="0.01" style="max-width:5rem" @bind="Despesa.ValorPorQuilometro" />
            </div>
        </div>
        <div style="float:right;">
            <button type="button" class="btn btn-secondary mx-2" @onclick="FecharFormulario">
                <span>Cancelar</span>
            </button>
            <AuthorizeView Roles="Funcionario">
                @if (viagem.StatusViagem == StatusViagem.EmAndamento)
                {
                    <button type="submit" class="btn btn-primary">
                        <span>@AdicionarOuEditar</span>
                    </button>
                }
            </AuthorizeView>
        </div>
    </form>
</div>
@code {
    [Parameter]
    public int IdDespesa { get; set; }
    [Parameter]
    public int IdViagem { get; set; }
    private bool Adicionar = true;
    private string AdicionarOuEditar = "Adicionar";
    private ViagemDTO viagem = new();

    private DespesaDeslocamentoDTO Despesa { get; set; } = new();

    [Parameter]
    public EventCallback FormularioFechado { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DespesaDeslocamentoService.DespesasChanged += StateHasChanged;
        if (IdDespesa > 0)
        {
            Adicionar = false;
            await GetDespesaHospedagem();
            viagem = await ViagemService.GetViagem(IdViagem);
        }

        if (!Adicionar) AdicionarOuEditar = "Editar";
    }

    public void Dispose()
    {
        DespesaDeslocamentoService.DespesasChanged -= StateHasChanged;
    }

    private async Task FecharFormulario()
    {
        await FormularioFechado.InvokeAsync();
    }

    private async Task GetDespesaHospedagem()
    {
        var response = await DespesaDeslocamentoService.GetDespesa(IdDespesa);
        if (!response.IsSuccess)
            await JSRuntime.InvokeVoidAsync("alert", $"{response.Error}");

        Despesa = response.Value;

        //await EnderecoService.GetEndereco(Despesa.IdEndereco);
        //Endereco = EnderecoService.Endereco;
    }

    private async Task HandleDespesa()
    {
        try
        {
            Result<DespesaDeslocamentoDTO> despesa = new();
            Despesa.IdViagem = IdViagem;

            if (Adicionar)
                despesa = await DespesaDeslocamentoService.AdicionarDespesa(Despesa);
            else
                despesa = await DespesaDeslocamentoService.AtualizarDespesa(Despesa);

            if (despesa.IsSuccess) await FecharFormulario();
            else await JSRuntime.InvokeVoidAsync("alert", despesa.Error);
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("alert", ex.Message + "\n" + DespesaDeslocamentoService.Mensagem);
        }
    }
}
